html {
  min-height: 10vh;
  height: 100vh;
  max-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 10vh;
  height: 100vh;
  max-height: 100vh;
}

@import "./fonts.scss";

/* COLORS */

$c-white: #fff;
$c-black: #000;
$c-grey: lighten($c-black, 30);
$c-grey-dark: #646464;
$c-grey-light: #d3d3d3;
$c-blue-dark: #083d77;
$c-blue-primary: #3366cc;
$c-blue-light: #bbddfe;
$c-blue-sky: #e0efff;
$c-error: #ea5d5d;
$c-positive: #e4f1e4;
$c-maroon: #85144b;

/* BREAKPOINTS */

$breakpoint-desktop-big: 1560px;
$breakpoint-desktop-bigger: 1100px;
$breakpoint-desktop: 800px;
$breakpoint-tablet: 600px;
$breakpoint-mobile: 400px;
$breakpoint-mini: 300px;
$breakpoint-200: 200px;

/* MD */

@import '../../node_modules/react-md/src/scss/react-md';
$md-primary-color: $c-blue-dark;
$md-secondary-color: $c-blue-primary;
$md-colors-warn-md: false;
@include react-md-everything;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "components/main.scss";
@import "components/loader.scss";
@import "components/dialogs.scss";
@import "components/toolbar.scss";
@import "components/exposition.scss";
@import "components/structure.scss";
@import "components/files.scss";
@import "components/settings.scss";
@import "components/screen.scss";
@import "components/viewer.scss";

*:not(i) {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.__react_component_tooltip {
  z-index: 100000 !important;
  max-width: 60vw;
}