.eraser1 {
  cursor: url("../../../../assets/img/eraser.png") 10 40, auto;
}

.eraser2 {
  cursor: url("../../../../assets/img/eraser2.png") 10 20, auto;
}

.eraser3 {
  cursor: url("../../../../assets/img/eraser3.png") 10 20, auto;
}

.eraser4 {
  cursor: url("../../../../assets/img/eraser4.png") 10 20, auto;
}
