.timeline-line {
  --timeline-color: black;
  --timeline-thickness-lg: 24px;
  --timeline-thickness-sm: 18px;

  // Arrow at the end

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: var(--timeline-thickness-lg) solid var(--timeline-color);
    border-top: var(--timeline-thickness-sm) solid transparent;
    border-bottom: var(--timeline-thickness-sm) solid transparent;
  }

  &.horizontal::after {
    right: 0;
    top: 50%;
    transform: translate(var(--timeline-thickness-lg), -50%);
  }

  &.vertical::after {
    left: 50%;
    bottom: 0;
    right: auto;
    top: auto;
    transform: translate(-50%, var(--timeline-thickness-lg)) rotate(90deg);
  }

  // Dot at the beginning

  &::before {
    content: "";
    position: absolute;
    width: var(--timeline-thickness-lg);
    height: var(--timeline-thickness-lg);
    background-color: var(--timeline-color);
    border-radius: 50%;
  }

  &.horizontal::before {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.vertical::before {
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
  }
}
