.timeline-line {
  --timeline-color: black;
  --timeline-thickness-base: 4px;

  --timeline-thickness-lg: 24px;
  --timeline-thickness-sm: 18px;

  &::before {
    content: "";
    position: absolute;
  }

  &::after {
    content: "";
    position: absolute;
  }

  // - - - - - - Dot at the beginning - - - - - -

  &.horizontal::before {
    background-color: var(--timeline-color);
    width: var(--timeline-thickness-lg);
    height: var(--timeline-thickness-lg);
    border-radius: 50%;

    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.vertical::before {
    background-color: var(--timeline-color);
    width: var(--timeline-thickness-lg);
    height: var(--timeline-thickness-lg);
    border-radius: 50%;

    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
  }

  // - - - - - - Arrow at the end - - - - - -

  &.horizontal::after {
    width: 0;
    height: 0;
    border-left: var(--timeline-thickness-lg) solid var(--timeline-color);
    border-top: var(--timeline-thickness-sm) solid transparent;
    border-bottom: var(--timeline-thickness-sm) solid transparent;

    right: 0;
    top: 50%;
    transform: translate(var(--timeline-thickness-lg), -50%);
  }

  &.vertical::after {
    width: 0;
    height: 0;
    border-left: var(--timeline-thickness-lg) solid var(--timeline-color);
    border-top: var(--timeline-thickness-sm) solid transparent;
    border-bottom: var(--timeline-thickness-sm) solid transparent;

    left: 50%;
    bottom: 0;
    right: auto;
    top: auto;
    transform: translate(-50%, var(--timeline-thickness-lg)) rotate(90deg);
  }
}
